{% extends 'layout.html' %}
{% block title %}Delete Page {% endblock %}
{% block content %}
<h2>{{ msg }}</h2>

<form action="{{'delete'}}" method="POST">
        <table>
            <tr>
            <td>SSN ID:</td>
            <td><input type="text" name="ssnid" value="" placeholder="SSN ID " ></td>
            </tr>
            <tr>
            <td><input type="submit" name="submit" value="Confirm Delete" required="required"></td>
                <td><input type="reset" name="reset" value="Reset" required="required"></td>
            </tr>
        </table>
</form>

{% endblock %}